body {
    background-image: url('/assets/images/backgroundidea2.png');
    font-family: 'Roboto Condensed', sans-serif;
}

p {
    color: #1a002f;
    font-size: .9em;
    line-height: 1.25em;
}

.primary-header {
    font-size: 2em;
    color: rgba(142, 240, 255, .9);
    font-style: italic;
    text-shadow: 3px 3px #29002f;
}

.secondary-header {
    font-size: 2em;
    color: #f5bbf7;
    font-style: italic;
    text-shadow: 3px 3px #29002f;
}

.guesses-header {
    font-size: 1em;
    color: #f5bbf7;
    font-style: italic;
}

.secondary-content {
    color: rgb(255, 227, 251);
    font-size: 30px;
}

.box {
    background-color: rgba(0, 0, 0, .6);
    width: 75%;
    color: rgb(255, 227, 251);
    font-size: 1.5em;
}

#hint-lyric {
    color: #1a002f;
    font-size: 1.75em;
    text-transform: uppercase;
    text-align: center;
}

#missing-word {
    font-size: 9em;
    -webkit-text-stroke-color: rgb(255, 227, 251);
    -webkit-text-stroke-width: 4px;
    color: rgba(0, 0, 0, 0.1);
    font-style: bold; 
}

.question {
    font-size: 1em;
}
