/* body {
    background-image: url('/assets/Images/background.png');
    
}

/* container {
    grid-template-columns: 25% 25% auto;
    grid-template-rows: 25% 300px auto;


} */

/* .head-logo {
    height: 300px;
    float: right;
}

#missing-word-static {
    color: #fff;
    box-shadow: 2px;


}  */